<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SoCo - Sonos Web Controller</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <nav class="navbar navbar-inverse"></nav>
        <header>
            <h1 class="text-center">Soco demonstration
        </header>

        <div class="row wrapper">
            <div class="col-md-4">
                <img id="track-image" class="img-thumbnail" src="{{ track.image }}" >
            </div>
            <div class="col-md-8">
                <h1 id="track-title"></h1>
                <h2 id="track-artist"></h2>
                <h2 id="track-album"></h2>
                <div class="row">
                    <button id="previous" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-backward"></span> Previous
                    </button>
                    <button id="pause" class="btn btn-default">
                        <span class="glyphicon glyphicon-pause"></span> Pause
                    </button>
                    <button id="next" class="btn btn-default">
                        <span class="glyphicon glyphicon-forward"></span> Next
                    </button>
                </div>
            </div>
        </div>
        <footer></footer>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript">
            var currTrack = '';
            var playing = true;

            function checkChange() {
                $.getJSON('/info-light').done(function(data) {
                    $('#track-title').text(data['title']);

                    if (currTrack != data['title'])
                    {
                        loadData();
                    }
                });
            }

            function loadData() {
                $.getJSON('/info', function(data) {
                    $('#track-title').text(data['title']);
                    $('#track-artist').text(data['artist']);
                    $('#track-album').text(data['album']);
                    $('#track-image').attr('img', data['image']);

                    currTrack = data['title'];
                });
            }

            $(document).ready(function() {
                loadData();

                setInterval("checkChange()", 1000);

                $('#next').click(function() {
                    $.ajax('/next');
                    loadData();
                });

                $('#previous').click(function() {
                    $.ajax('/previous');
                    loadData();
                });

                $('#pause').click(function() {
                    if (playing == true)
                    {
                        $.ajax('/pause');
                        playing = false;

                        $('#pause').html('<span class="glyphicon glyphicon-play"></span> Play');
                    }
                    else {
                        $.ajax('/play');
                        playing = true;

                        $('#pause').html('<span class="glyphicon glyphicon-pause"></span> Pause');
                    }
                });
            });
        </script>
   </body>
</html>
